@use './partials/variables' as *;
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: black;
  color: white;
}

.container {
  width: calc(100% * 2 / 3);
  margin: 0 auto;
}

img {
  max-width: 100%;
}